[submodule "third_party/CodeExecContainer"]
	path = third_party/CodeExecContainer
	url = https://github.com/ldilab/CodeExecContainer.git
[submodule "third_party/etri_langgraph"]
	path = third_party/etri_langgraph
	url = https://github.com/DDIDUs/etri_langgraph.git
